name: Docker Image CI


# This workflow will build a Docker image and push it to GitHub Packages
# It will only run on pushes to the main branch

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Needed to publish packages

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ghcr.io/adamwong01/live2audio:latest
        # uncomment the following line to force a rebuild
        # cache-from: type=gha
        # cache-to: type=gha,mode=max
